body {
    background: linear-gradient(to right, #ff0000 0%, #00ff00 100%);
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-family: 'Bungee Inline';
    font-size: 4rem;
    color: #00000090;
    top: 15%;
}

h2 {
    font-size: 2rem;
    font-family: 'Raleway';
    top: 100px;
    letter-spacing: 0.01em;
    margin-top: 1rem;
}

input[type="color"] {
    margin-top: 1rem;
}